@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
  --body-bg: #55a4a7;
  --accent: #3B7274;
  --accent-2: #fea29f;
  --subtitles: #707678;
  --background: #fff;
  --primary: #232323;
  --section: #525A5B;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* hiding ARIA label */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* general styling */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--primary);
  background-color: var(--body-bg);
}

header {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1200px;
}

main {
  width: 90%;
  max-width: 1200px;
  aspect-ratio: 1 / 1.4;
  margin: 30px auto 50px auto;
  background: var(--background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1px;
  padding: 30px;
  line-height: 1.5;

}

/* intro section */

.introduction {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;
}

.intro-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-top: 5px;
}

.about {
  margin-top: 15px;
}

.intro-info>.info,
.intro-info>.line,
.intro-info>.link {
  margin-top: 5px;
}

/* skills section */

.skill {
  color: var(--accent);
  display: inline-block;
  border: 2px solid var(--accent);
  border-radius: 2px;
  font-size: 0.8125rem;
  padding: 5px;
  margin: 5px;
  margin-left: 0;
}

.skills>ul {
  padding: 0;
}

/* projects section */

.project {
  margin-bottom: 15px;
}

.tech-stack {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.tech {
  border: 2px solid var(--subtitles);
  border-radius: 2px;
  padding: 0 5px;
  margin: 5px;
  margin-left: 0;
  font-size: 0.7rem;
}

/* experience section */

.experience {
  margin-bottom: 10px;
}

.exp {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10px;
}

ul .detail {
  margin-left: 30px;
}

/* education section */

.edu {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10px;
}

/* certificates section */

.cert-detail {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10px;
}

.cert-desc {
  margin-top: 3px;
}

/* languages section */

.lang-name {
  margin-top: 10px;
}

/* sns section */

.sns {
  display: flex;
}

.sns>a {
  opacity: 0.7;
  transition: opacity 300ms ease-in-out;
  margin: 0;
}

.sns>a:hover {
  opacity: 1;
}

/* icon */

.icon {
  max-width: 100%;
  height: 1.5em;
  transform: translateY(1px);
  margin-right: 10px;
}

.sns-icon {
  max-width: 100%;
  height: 35px;
  width: auto;
  margin: 0;
  margin-right: 10px;
  margin-top: 15px;
}

.link-svg {
  height: 20px;
  transform: translate(5px, 3px);
}

.repeat-svg {
  height: 20px;
  transform: translate(-3px, 5px);
}

.download-svg {
  height: 20px;
  transform: translate(4px, 4px);
}

.lang-svg {
  height: 20px;
  transform: translate(4px, 4px);
}

/* section even-out */

section:not(.introduction) {
  margin-left: 35px;
}

section {
  margin-right: 35px;
}

/* buttons */

.download-button {
  color: var(--background);
  background: var(--accent);
  font-family: 'IBM Plex Mono', monospace;
  border: 3px solid var(--background);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  padding: 0.5rem;
  padding-right: 0.6rem;
  text-decoration: none;
  position: relative;
  top: 5rem;
  right: 7px;
  font-size: 1rem;
}

.download-button:hover {
  background: var(--background);
  color: var(--accent);
  border: 3px solid var(--accent);
  border-radius: 2px;
}

.lang-button {
  color: var(--background);
  background: var(--accent);
  font-family: 'Noto Emoji', 'IBM Plex Mono', monospace;
  font-size: 1rem;
  border: 3px solid var(--background);
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  padding: 0.5rem;
  padding-right: 0.6rem;
  position: relative;
  top: 5rem;
  right: 7px;
}

.lang-button:hover {
  background: var(--background);
  color: var(--accent);
  border: 3px solid var(--accent);
}

/* links */

.link {
  display: inline-block;
  position: relative;
  color: var(--subtitles);
  text-decoration: none;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* typography */

.info,
.about,
.tech-stack,
.exp-info,
.edu-info,
.cert-detail,
.lang-level {
  color: var(--subtitles);
}

h2:not(.name) {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--section);
  font-weight: 400;
  margin-top: 40px;
  letter-spacing: 2px;
}

.name {
  font-size: 2em;
  color: var(--primary);
  margin-top: 0;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.date {
  font-size: 0.8125rem;
}

.line {
  display: none;
}

/* tooltip */
.tooltip-wrap {
  position: relative;
}

.tooltip-wrap .tooltip-content {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8125rem;
  opacity: 0;
  position: absolute;
  top: 25px;
  right:0;
  background-color: #fff;
  padding: .5em;
  padding-bottom: 0.8em;
  min-width: max-content;
  transition: opacity 300ms ease-in;
}


.tooltip-wrap:hover .tooltip-content {
  opacity: 1;
}


@media screen and (min-width: 1200px) {
  main {
    padding: 40px 80px;
  }

  .line {
    display: unset;
    margin: 0 5px;
  }

  .languages,
  .intro-info,
  .exp,
  .edu {
    display: flex;
    flex-flow: row wrap;
  }

  .cert-detail {
    display: inline;
  }

  .cert-desc {
    display: block;
    margin-bottom: 10px;
  }

  .languages {
    justify-content: space-between;
  }

  .lang-name {
    margin-top: 0;
  }

  .date {
    font-size: 1rem;
  }

  .skill {
    font-size: 1rem;
  }

}

@media print {

  .link-svg {
    display: none;
  }

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
    font-size: 12px;
  }

  .introduction {
    margin-right: 25px;
  }

  section:not(.introduction) {
    margin-left: 25px;
  }

  section {
    margin-right: 25px;
  }

  .skill {
    margin-bottom: 0;
    font-size: 10px;
    border-width: 1px;
  }

  .tech {
    border: none;
    padding: 0;
    margin-top: 0;
  }


  .tech-stack {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .line {
    display: unset;
  }

  .info,
  .about,
  .tech-stack,
  .exp-info,
  .edu-info,
  .cert-detail,
  .lang-level {
    color: var(--primary);
  }

  .languages,
  .intro-info,
  .exp,
  .edu {
    display: flex;
    flex-flow: row wrap;
  }

  .languages {
    justify-content: flex-start;
  }

  .language {
    margin-right: 30px;
  }

  main {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    line-height: 1.2;
    margin-top: 0;
  }


  .introduction {
    margin-bottom: 0px;
    padding-bottom: 0;
  }


  .date {
    font-size: 12px;
  }

  .project,
  section {
    margin-top: 0;
  }

  .name {
    margin-left: -1px;
    margin-bottom: 5px;
  }

  .line {
    margin: 0 5px;
    color: var(--primary);
  }

  .cert-detail {
    display: inline;
  }

  .cert-desc {
    display: block;
    margin-bottom: 10px;
  }

  #root {
    margin: 0;
  }

  h2:not(.name) {
    text-transform: uppercase;
    font-size: 0.5rem;
    margin-top: 15px;
  }

  h2 {
    color: var(--primary);
  }

  h3 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .link {
    color: var(--primary);
  }

  .school>h3:not(:first-child) {
    margin-top: 5px;
  }

  .languages {
    margin-top: -10px;
  }

  .languages,
  span,
  .intro-info>.info,
  .intro-info>.line,
  .intro-info>.link {
    font-size: 12px;
  }

  .download-button,
  .lang-button,
  #sns-section {
    display: none;
  }
}